// Font
$mainFont : 'Montserrat',
Helvetica,
Arial,
sans-serif;

// Size
$mainFontColor : #101010;
$mainFontSize : 18px;
$mainFontWeight : 400;
$mainLineHeight : 1.4;

$desktopWidth : 1200px;
$smDesktopWidth : 1024px;
$tableWidth : 768px;
$smTableWidth : 640px;
$phoneWidth : 480px;
$smPhoneWidth : 320px;

// Main color
$default-color : #1890FF;
$primary-color: #8C8C8C;
$userLoginFeed-color: #0050B3;
$mainBackground-color: #0050B3;
$iconNotActive-color: #002766;
$iconActive-color: #ffffff;
$body-color: #F5F5F5;

$navActive-color: #ffffff;
$placeholder-color: #BFBFBF;
$font-color: #595959;
$fontActive-color: #262626;
$seeMore-color: #1890FF;

$navBorder-color: #003A8C;
$border-color: #D9D9D9;
$storyActive-color: #1890FF;
$radioActive-color: #1890FF;
$radioNotActive-color: #D9D9D9;
