.avatar {
  width: 100%;
  max-width: 32px;
  max-height: 32px;
}

.avatar--sidebar {
  max-width: 24px;
  max-height: 24px;
}

.avatar--add-post {
  max-width: 40px;
  max-height: 40px;
}

.avatar--post {
  max-width: 48px;
  max-height: 48px;
}
