.link {
  display: flex;
  align-items: center;
  border-radius: 4px;
  overflow: hidden;
  padding-left: 8px;

  margin: 8px 0;
  &__icon {
    fill: $default-color;
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }

  &__text {
    font-size: 14px;
    line-height: 22px;
    color: $font-color;
  }
}
.link.active {
  margin: 4px 0;
  padding: 4px 8px;
  background-color: $navActive-color;
  .link {
    &__icon {
      fill: $default-color;
    }
    &__text {
      font-weight: 600;
      color: $fontActive-color;
    }
  }
}
