.nav {

  &__list {
    display: grid;
    grid-template-columns: repeat(5, auto);
    align-items: center;
    color: #ffffff;
  }

  &__item {
    position: relative;
    &:after {
      content: '';
      display: block;
      width: 1px;
      height: 16px;
      background-color: $navBorder-color;

      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &:last-child:after {
      content: none;
    }
  }

  &__link {
    padding: 0 12px;
    display: flex;
    align-items:center;
    color: #ffffff;

    font-size: 14px;
    line-height: 22px;
    &--menu {
      &-icon {
        fill: $iconNotActive-color;
        &:hover {
          fill: $iconActive-color;
        }
        &:active {
          fill: $iconActive-color;
        }
      }
    }
  }
}

@media(max-width: $tableWidth) {
  .nav{
    &__user {
      display: none;
    }
    &__home {
      display: none;
    }
    &__create {
      display: none;
    }

  }
}
