.support {

  &__list {
    padding: 0 12px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 24px);
    grid-template-rows: 24px;
    gap: 12px;
  }

  &__item {}

  &__link {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  &__icon {
    fill: $iconNotActive-color;
    &:hover {
      fill: $iconActive-color;
    }
    &:active {
      fill: $iconActive-color;
    }
  }
}
