.user {
  &__link {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 8px;
  }

  &__login {
    align-self: center;
    font-size: 14px;
    line-height: 22px;
  }
}

.user--sidebar {
  .user {
    &__img {
      max-width: 24px;
      max-height: 24px;
    }

    &__login {
      font-size: 14px;
      line-height: 22px;
      color: $fontActive-color;
    }
  }
}

.user--add-post {
  .user {
    &__img {
      max-width: 40px;
      max-height: 40px;
    }
  }
}

.user--feed {
  .user {
    &__img {
      max-width: 48px;
      max-height: 48px;
    }

    &__login {
      color: $userLoginFeed-color;
    }
  }
}
